.container {
    width: 1300px;
    background-color:paleturquoise;
    height: 1000px;
    margin: auto;
    margin-top: 40px;
    
}

.header {
    width: 1300px;
    background-color: darkorange;
    height: 200px;
}

.header2 ul {
    height: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4b2c20;
    margin-bottom: 20px;
  
}

.header2 li {
    float: left;
}

.header2 li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 50px;
}

.header2 li a:hover {
    background-color: darkgrey;
}
.left-sidebar {
    width: 200px;
    height: 890px;
    background-color:rgb(255, 65, 65);
    float: left;
}

.center-sidebar {
    width: 900px;
    height: 890px;
    background-color: white;
    float: left;
    

}
.right-sidebar {
    float: left;
    width: 200px;
    height: 890px;
    background-color:rgb(61, 61, 61);

}

.footer {
    width: 1300px;
    height: 80px;
    background-color: rgb(42, 42, 42);
    float: right;
    text-align: center;
    line-height: 70px;
    text-align: center;
    color: white;
    font-family: 'Hammersmith One', sans-serif;
    
}

.logo{
    font-size: 50px;
    text-align: center;
    color: white;
    line-height: 200px;
    font-family: 'Anton', sans-serif;
}

.berita{
    padding: 20px;
    background-color: white;
}

.judul{
    font-size: 45px;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 10px;
}

.judul2 {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}

.isi-berita{
    font-size: 30px;
    margin-top: 15px;
}

.center-sidebar img {
    width: 200px;
    float: left;
    margin: 20px;

}



